<div class="frame-light">
	<div class="container content">
		<h1>Tech Talks</h1>
		<div class="row text-center">
			<% @events.each do |c| %>
			<div class="col-xs-12">
				<div class="text-center">
					<h2 class="banner-header"><%= c.name %></h2>
				</div>
				<div class="row">
					<% if c.mentors.count == 3 %>
					<h3>Speakers</h3>
					<% c.mentors.each do |i| %>
					<% if i.image_url == "" %>
					<div class="col-sm-4">
						<img class="profile-img" src="http://placekitten.com/g/300/300">
						<p><%= i.name %></p>
					</div>
					<% else %>
					<div class="col-sm-4">
						<img class="profile-img" src="mentors/<%= i.image_url %>">
						<p><%= i.name %></p>
					</div>
					<% end %>
					<% end %>
					<% end %>

					<% if c.mentors.count == 2 %>
					<h3>Speakers</h3>
					<% c.mentors.each do |i| %>
					<% if i.image_url == "" %>
					<div class="col-sm-6">
						<img class="profile-img" src="http://placekitten.com/g/300/300">
						<p><%= i.name %></p>
					</div>
					<% else %>
					<div class="col-sm-6">
						<img class="profile-img" src="mentors/<%= i.image_url %>">
						<p><%= i.name %></p>
					</div>
					<% end %>
					<% end %>
					<% end %>
					<% if c.mentors.count == 1 %>
					<h3>Speaker</h3>
					<% c.mentors.each do |i| %>
					<% if i.image_url == "" %>
					<div class="col-sm-12">
						<img class="profile-img" src="http://placekitten.com/g/300/300">
						<p><%= i.name %></p>
					</div>
					<% else %>
					<div class="col-sm-12">
						<img class="profile-img" src="mentors/<%= i.image_url %>">
						<p><%= i.name %></p>
					</div>
					<% end %>
					<% end %>
					<% end %>
					<% if c.sponsor != nil %>
					<div class="col-sm-12">
						<a href="<%= c.sponsor.link_url %>"><img class="sponsor-img-small" src="sponsors/<%= c.sponsor.image_url %>"></a>
					</div>
					<% end %>
				</div>
				<% if c.date != nil %>
				<p><strong><%= c.date.strftime("%A, %B %d") %> | <%= c.start_time.strftime("%l:%M %p") %> to <%= c.end_time.strftime("%l:%M %p") %> | <%= c.location %></strong></p>
				<% end %>
				<% if c.html_content != "" %>
				<a data-toggle="collapse" href="#<%= c.id %>" aria-expanded="true" aria-controls="<%= c.id %>"><h3>Learn More <span class="caret"></span></h3></a>
				<div id="<%= c.id %>" class="panel-collapse collapse"><%= c.html_content.html_safe %></div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>