<div class="frame-light">
	<div class="container content">
		<h1>Meet Our Tech Mentors</h1>
		<div class="row">
			<% @mentors.each do |m| %>
			<% if Sponsor.exists?(m.sponsor) %>
			<div class="col-sm-4">
				<a data-toggle="collapse" data-target="#<%= m.name.gsub(" ", "_") %>">
					<img class="profile-img img-hover" src="mentors/<%= m.image_url %>">
					<h3 class="text-center"><%= m.name %></h3>
				</a>
				<img class="sponsor-img-small image-center" src="sponsors/<%= m.sponsor.image_url %>">
				<div class="collapse" id="<%= m.name.gsub(" ", "_") %>">
					<%= m.html_content.html_safe %>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>