<div class="frame-light">
  <div class="container content">
    <h1>Crash Courses</h1>
    <div class="row text-center">
      <% @courses.each do |c| %>
      <div class="col-sm-6">
        <div class="text-center">
          <h2 class="banner-header"><%= c.title %></h2>
        </div>
        <div class="row">
          <% if c.instructors.count == 2 %>
          <h3>Instructors</h3>
          <% c.instructors.each do |i| %>
          <div class="col-sm-6">
            <img class="profile-img" src="instructors/<%= i.image_url %>">
            <p><%= i.name %></p>
          </div>
          <% end %>
          <% end %>
          <% if c.instructors.count == 1 %>
          <h3>Instructor</h3>
          <% c.instructors.each do |i| %>
          <div class="col-sm-12">
            <img class="profile-img" src="instructors/<%= i.image_url %>">
            <p><%= i.name %></p>
          </div>
          <% end %>
          <% end %>
        </div>
        <% if c.date != nil %>
        <p><strong><%= c.date.strftime("%A, %B %d") %> | <%= c.start_time.strftime("%l:%M %p") %> to <%= c.end_time.strftime("%l:%M %p") %> | <%= c.location %></strong></p>
        <% end %>
        <a class="cta-3" href="<%= c.register_url %>">Register</a>
      </div>
      <% end %>
    </div>
  </div>
</div>