<div id="data" class="frame-light">
	<div class="container content">
		<h1>Datasets</h1>
		<%= render "datasets" %>
	</div>
</div>
<div id="api-credits" class="frame-dark">
	<div class="container content">
		<h1>APIs & Credits</h1>
		<%= render "api_credits" %>
	</div>
</div>
<div id="eco" class="frame-light">
	<div class="container content">
		<h1>Eco-Friendliness</h1>
		<%= render "eco" %>
	</div>
</div>
<div id="massages" class="frame-dark">
	<div class="container content">
		<h1>Massages</h1>
		<%= render "massages" %>
	</div>
</div>
<div id="ladies" class="frame-light">
	<div class="container content">
		<h1>Ladies Night</h1>
		<%= render "ladies" %>
	</div>
</div>
<div id="nerf" class="frame-dark">
	<div class="container content">
		<h1>Nerf Gun Wars</h1>
		<%= render "nerf" %>
	</div>
</div>