<div class="frame-light">
	<div class="container content">
		<h1>Meet Our Non-Profit Experts</h1>
		<div class="row">
			<% @experts.each do |e| %>
			<% if Partner.exists?(e.partner) %>
			<div class="col-sm-4">
				<img class="profile-img" src="mentors/<%= e.image_url %>">
				<h3 class="text-center"><%= e.name %></h3>
				<p class="text-center"><strong>Track: </strong><%= e.partner.track %></p>
				<p class="text-center"><strong>Focus: </strong><%= e.partner.focus %></p>
				<img class="sponsor-img-small image-center" src="partners/<%= e.partner.image_url %>">
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>