<div class="frame-light">
  <div class="container content">
    <h1>Crash Courses</h1>
    <% @courses.each do |c| %>
    <% if c.semester.season == "Spring" && c.semester.year.year == 2014 %>
    <div class="row text-center">
      <div class="col-sm-6">
        <h2 class="banner-header"><%= c.title %></h2>
        <h3>Instructors</h3>
        <div class="row">
          <% if c.instructors.count == 2 %>
          <% c.instructors.each do |i| %>
          <div class="col-sm-6">
            <img class="profile-img" src="instructors/<%= i.image_url %>">
            <p><%= i.name %></p>
          </div>
          <% end %>
          <% end %>
          <% if c.instructors.count == 1 %>
          <% c.instructors.each do |i| %>
          <div class="col-sm-12">
            <img class="profile-img" src="instructors/<%= i.image_url %>">
            <p><%= i.name %></p>
          </div>
          <% end %>
          <% end %>
        </div>
        <h3><%= c.date.strftime("%A, %B %d") %></h3>
        <h3><%= c.start_time.strftime("%l:%M %p") %> to <%= c.end_time.strftime("%l:%M %p") %></h3>
        <h3><%= c.location %></h3>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>