<div class="frame-light">
	<div class="container content">
		<h1>Winners</h1>
		<div class="row text-center">
			<div class="text-center">
				<h2 class="banner-header">Main Prize Winners</h2>
			</div>
			<% @main_winners.each do |m| %>
			<% if m.semester.season == "Spring" && m.semester.year.year == 2014 %>
			<h3><%= m.prize_description %></h3>
			<a href="<%= m.link_url %>"><%= m.project %></p>
			<p><%= m.team_members %></p>
			<% end %>
			<% end %>
		</div>
		<div class="row text-center">
			<div class="text-center">
				<h2 class="banner-header">Sponsor Prize Winners</h2>
			</div>
			<% @sponsor_winners.each do |s| %>
			<% if s.semester.season == "Spring" && s.semester.year.year == 2014 %>
			<h3><%= s.prize_description %></h3>
			<a href="<%= s.link_url %>"><%= s.project %></a>
			<p><%= s.team_members %></p>
			<% end %>
			<% end %>
		</div>
	</div>
</div>