<img id="logo" src="fall2013/logo.svg">
<div class="container">
	<div class="row" id="top-div">
		<div class="col-xs-12">
			<h2>Missed hackDuke? Here's a weekend recap!</h2>
		</div>
		<div class="col-xs-12 text-center">
			<%= render 'winners' %>
		</div>
		<div class="col-xs-12 text-center">
			<a class="btn btn-lg btn-white" id="media-link" href="#media">News, Pictures & Videos</a>
		</div>
	</div>
	<hr/>
	<div class="row" id="details">
		<div class="col-lg-4 deets">
			<h2>500+ students</h2>
			<img class="feature" src="fall2013/feature01.jpg">
			<p>
				<b>
					Awesome people.
					<br>
					Awesome ideas.
				</b>
			</p>
			<p>
				Meet students from other schools in the South East Atlantic. What will you make in just 24 hours?
			</p>
		</div>
		<div class="col-lg-4 deets">
			<h2>$10,000+ in prizes</h2>
			<img class="feature" src="fall2013/feature02.jpg">
			<p>
				<b>
					Plenty of prizes.
					<br>
					Plenty of fun.
					<br>
				</b>
			</p>
			<p>The team that makes the best app will be awarded with prizes. But in between hacking make sure you have time to enjoy the fun activities and delicious food we have planned.</p>
		</div>
		<div class="col-lg-4 deets">
			<h2>Register for free</h2>
			<img class="feature" src="fall2013/feature03.jpg">
			<p>
				<b>
					2pm Nov 16th - 5pm Nov 17th
					<br>
					Duke University, N.C.
					<br>
				</b>
			</p>
			<p>
				Sign up for free as a team or individual
				<br>
			</p>
		</div>
	</div>
	<div class="row" id="cta">
		<div class="col-xs-12">
			<div id="social-media">
				<a class="social-media" id="facebook" href="https://www.facebook.com/events/370051956458772/"></a>
				<a class="social-media" id="twitter" href="https://twitter.com/hackduke"></a>
			</div>
		</div>
	</div>
	<hr/>
	<div id="faq">
		<div class="row">
			<%= render 'faq' %>
		</div>
	</div>
	<hr/>
	<div id="sponsors">
		<div class="row">
			<%= render 'sponsors' %>
		</div>
	</div>
	<hr/>
	<div id="partners">
		<div class="row">
			<%= render 'partners' %>
		</div>
	</div>
	<hr/>
	<div id="media">
		<div class="row">
			<%= render 'media' %>
			<div class="sit" id="follow"></div>
			<div id="mouse" data-tip="Click me!"></div>
			<script type="text/javascript" src="fall2013/js/main.js"></script>
			<script type="text/javascript" src="fall2013/js/justintv.js"></script>
		</div>